*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row{
  margin: auto;
  margin-top: 10vh;
  background: lightgreen;
  width: 60%;
  text-align: center;
}

.item{
  display: inline-block;
  position: relative;
  height: auto;
  width: auto;
}

.heart{
  display: none;
  font-size: 25px;
  position: absolute;
  bottom:20px;
  left:50%;
}

.item:hover .heart{
  color:red;
  display: block;
}

.discount{
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  width:90px;
  height: 45px;
  padding-top: 9px;
  font-size: 25px;
}

.big{
  background: green;
}

.little{
  background: red;
}
